@import "tailwindcss";

@theme {
  /* Warna Utama SIKANTEL */
  --color-telkom-red: #ed1e28;
  --color-telkom-maroon: #b6252a;
  
  /* Font Utama */
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    /* Menerapkan font poppins secara default ke seluruh body */
    font-family: var(--font-poppins);
  }
}