@import "tailwindcss";

@theme {
  /* Warna Utama SIKANTEL */
  --color-telkom-red: #ed1e28;
  --color-telkom-maroon: #b6252a;
  
  /* Font Utama */
  --font-primary: "Inter", sans-serif;
}

@layer base {
  body {
    /* Menerapkan font utama secara default ke seluruh body */
    font-family: var(--font-primary);
  }
}